<!DOCTYPE html>
<html>
<head>
  <title>Start chat voice</title>
  <%- include('./_header.html') %>
</head>
<body>
  <div id="container">
    <form id="form" method="get" action="<%= baseUrl + '/call' %>">
      <h1>
        <img src="<%= baseUrl + '/res/peer-calls.svg' %>" width="100%" alt="Peer Calls">
      </h1>
      <input type="submit" value="Se connecter">
    </form>
  </div>

  <footer>
    <div>v<%= version %></div>
  </footer>
  <script type="text/javascript">
      form.submit();
  </script>
</body>